<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="icons">
		<li><a href="https://linkedin.com/in/egetzel" class="icon alt fa-linkedin" target="_blank"><span class="label" target="_blank">LinkedIn</span></a></li>
		<li><a href="https://medium.com/@egetzel" class="icon alt fa-medium" target="_blank"><span class="label" target="_blank">Medium</span></a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="mailto:info@renlitech.com" class="button special icon fa-envelope">Contact Edaan</a></li>
	</ul>
</nav>
